* {
  font-family: poppins;
}

* h1, h2, h3, h5, p {
  margin: 0;
}

* a {
  text-decoration: none;
}

body {
  margin: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  background-color: black;
}

.navbar span {
  color: white;
}

.navbar h1 {
  /* border: 1px solid red; */
  color: slateblue;
}

.navbar a {
  /* border: 1px solid red; */
  color: white;
  position: relative;
  z-index: 1;
}

.navbar .nav-links {
  display: flex;
  gap: 40px;
  align-items: center;
}

.navbar .nav-links .create {
  border: 2px solid #ffffff;
  /* color: #000000; */
  font-weight: 500;
  padding: 10px 20px;
  z-index: 1;
  color: white;
  overflow: hidden;
  transition: 0.5s;
}

.navbar .create::before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  background: white;
  width: 0;
  height: 100%;
  z-index: -1;
  transition: 0.5s;
}

.navbar .create:hover::before {
  width: 100%;
  left: 0;
}

.navbar .create:hover {
  color: black;
}

.home {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 30px;
  text-transform: capitalize;
}

.blog-cont {
  display: flex;
  border: 1px solid red;
}

.blog-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  width: 70%;
  transition: 0.5s;
}
.blog-card:hover {
  box-shadow: 1px 1px 30px rgba(0, 0, 0, 0.107);
}
.blog-card h1 {
  color: slateblue;
}
.blog-card a {
  position: relative;
  color: teal;
  border: 2px solid black;
  /* color: #000000; */
  font-weight: 500;
  padding: 5px 20px;
  z-index: 1;
  color: black;
  overflow: hidden;
  transition: 0.5s;
  border-radius: 10px;
}
.blog-card a::before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  background: black;
  width: 0;
  height: 100%;
  z-index: -1;
  transition: 0.5s;
}
.blog-card a:hover {
  color: white;
}
.blog-card a:hover::before {
  width: 100%;
  left: 0;
}
.blog-card span {
  color: slateblue;
}
.blog-card .strong {
  font-weight: 600;
}

.add-new-blog {
  text-transform: capitalize;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  padding: 50px;
}
.add-new-blog h1 {
  color: slateblue;
}
.add-new-blog form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 400px;
  background: white;
  padding: 30px;
}
.add-new-blog form input {
  padding: 10px;
  outline: none;
  border: none;
  border-bottom: 2px solid transparent;
  box-shadow: 1px 1px 30px rgba(0, 0, 0, 0.1);
  transition: 0.5s;
}
.add-new-blog form input:focus {
  border-bottom: 2px solid slateblue;
  color: slateblue;
}
.add-new-blog form textarea {
  height: 100px;
  padding: 5px 10px;
  outline: none;
  border: none;
  border-bottom: 2px solid transparent;
  box-shadow: 1px 1px 30px rgba(0, 0, 0, 0.098);
  transition: 0.5s;
}
.add-new-blog form textarea:focus {
  border-bottom: 2px solid slateblue;
  color: slateblue;
}
.add-new-blog form button {
  background: slateblue;
  color: white;
  padding: 10px;
  width: 150px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
}

.cont-more {
  display: flex;
  align-items: center;
  justify-content: center;
}

.more-details {
  text-transform: capitalize;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  width: 700px;
  justify-content: center;
  align-self: center;
  padding: 40px;
}
.more-details p {
  text-align: center;
  width: 500px;
  word-break: break-all;
}
.more-details h1 {
  color: slateblue;
}/*# sourceMappingURL=style.css.map */